<div class='w-full py-6 px-3 relative -z-10'>
	<div class='border bg-white shadow-lg rounded-lg overflow-hidden'>
		<a href='{{ product_product.url }}'>
			{% if product_product.featured_image %}
				<div class='h-80 overflow-hidden'>
					<img
						class='w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform'
						src='{{ product_product.featured_image | image_url: width: 1000, height: 1000 }}'
						alt='{{ product_product.featured_image.alt }}'
					>
				</div>

			{% else %}
				{{
					'product-1'
					| placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100'
				}}
			{% endif %}
		</a>

		<div class='flex flex-col p-4'>
			<span class='text-sm text-gray-400'>
				{{- product_product.vendor -}}
			</span>

			<a
				href='{{ product_product.url }}'
				class='text-gray-700 uppercase font-medium'
			>
				{{- product_product.title -}}
			</a>

			{% for variant in product_product.variants %}
				<p>
					Variant: {{ variant.title }} - {{ variant.price | money }}
				</p>
				{% unless variant.available -%}
					<strong>Sold Out</strong>
				{%- endunless %}
			{% endfor %}
		</div>
	</div>
</div>
