{% comment %}
<div class="flex flex-col items-center my-8">
    <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>

    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            {% for product in section.settings.featured_collection.products limit:
            section.settings.number_of_products_to_show %}
            {% render 'product-card', product_product: product %}
            {% else %}
            {% for item in (1..4) %}
            {% render 'product-card-placeholder' %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endcomment %}

<section class='bg-[#F6F0E4] w-full'>
    <div
        class='flex flex-col gap-10 lg:gap-16 text-[#282828] py-[64px] px-[25px] lg:py-[80px] lg:px-[104px] max-w-[1440px] mx-auto'>
        <h1 class='text-[28px] font-semibold leading-9 lg:text-[32px] lg:leading-10'>Bestsellers</h1>
        <div class='flex flex-row overflow-auto lg:overflow-hidden gap-4 lg:gap-9 snap-x no-scrollbar'>
            {% for product in section.settings.featured_collection.products limit:
            section.settings.number_of_products_to_show %}
            {% comment %} start card {% endcomment %}
            <a href='{{ product.url }}' class='flex flex-col gap-4 min-w-[222px] snap-start lg:snap-none'>
                <div>
                    <img src='{{ product.featured_image | image_url: width: 1000, height: 1000 }}'
                        alt='{{ product.featured_image.alt }}' width='100%' height='100%'
                        class='transition-all ease-in-out duration-500 hover:scale-105'>
                    <div class="w-full h-0.5 bg-black"></div>
                </div>
                <div class='flex flex-col gap-2'>
                    <div class='flex flex-row justify-between text-[18px] leading-6 font-semibold'>
                        <div>{{ product.title }}</div>
                        <div>{{ product.first_available_variant.price | money_without_currency | remove: '.00' }} USD</div>
                    </div>
                    <div class='flex flex-row justify-between leading-5 font-causten'>
                        <div>{{ product.variants[1].title }}</div>
                        <div class='line-through'>{{ product.variants[1].price | money_without_currency | remove: '.00' }} USD</div>
                    </div>
                </div>
            </a>
            {% comment %} end card {% endcomment %}
            {% else %}

            <a href='#' class='flex flex-col gap-4 min-w-[222px] snap-start lg:snap-none'>
                <div>
                    <img src='{{ "1.png" |  asset_img_url: "1000x1000" }}' alt='' width='100%' height='100%'
                        class='transition-all ease-in-out duration-500 hover:scale-105'>
                </div>
                <div class='flex flex-col gap-2'>
                    <div class='flex flex-row justify-between text-[18px] leading-6 font-semibold'>
                        <div>Footie & Bonnet</div>
                        <div>35 USD</div>
                    </div>
                    <div class='flex flex-row justify-between leading-5 font-causten'>
                        <div>Peach</div>
                        <div class='line-through'>55 USD</div>
                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
"name": "Featured Collection",
"settings": [
{
"type": "text",
"id": "title",
"default": "Featured Collection",
"label": "Title"
},
{
"type": "collection",
"id": "featured_collection",
"label": "Collection"
},
{
"type": "range",
"id": "number_of_products_to_show",
"min": 4,
"max": 12,
"default": 4,
"label": "Number of products to show"
}
],
"presets": [
{
"name": "Featured Collection"
}
]
}
{% endschema %}