<style>
    .collection-c-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-1.png' |  asset_img_url: '1480x986' }});
        background-size: 160%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .collection-c-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-2.jpeg' |  asset_img_url: '1480x986' }});
        background-size: 100%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
    }

    .collection-c-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-3.png' |  asset_img_url: '1480x986' }});
        background-size: 150%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .collection-c-4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-4.jpeg' |  asset_img_url: '1480x986' }});
        background-size: 100%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
    }

    .collection-c-5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-5.png' |  asset_img_url: '1480x986' }});
        background-size: 145%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .collection-c-6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-6.jpeg' |  asset_img_url: '1480x986' }});
        background-size: 100%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
    }

    .btn-collection {
        color: #282828;
        font-family: 'causten';
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 16.8px;
        border-radius: 6px;
    }

    @media (min-width: 1024px) {
        .collection-c-1 {
            background-size: 150%;
            background-position: 50% 50%;
        }

        .collection-c-2 {
            background-size: 150%;
            background-position: 50% 30%;
        }

        .collection-c-3 {
            background-size: 227%;
            background-position: 50% 50%;
        }

        .collection-c-4 {
            background-size: 100%;
            background-position: 50% 50%;
        }

        .collection-c-5 {
            background-size: 150%;
            background-position: 50% 30%;
        }

        .collection-c-6 {
            background-size: 150%;
            background-position: 50% 30%;
        }
    }
</style>

<div class="bg-[#F6F0E4]">
    <div class="py-[64px] px-[25px] lg:p-[104px] max-w-[1280px] mx-auto">
        <div class="flex flex-col gap-[24px]">
            <div class="flex flex-col lg:flex-row gap-[24px]">
                <div
                    class="collection-c-1 transition-all ease-in-out duration-300 h-[260px] min-[425px]:h-[360px] lg:h-[600px] rounded-2xl flex flex-col gap-[24px] justify-center items-center lg:min-w-[650px]">
                    <div class="text-center text-white flex flex-col gap-2">
                        <h1 class="font-semibold text-[28px] lg:text-[32px] lg:leading-10">Pane collection</h1>
                        <p class="hidden lg:block text-[20px] leading-6">A bold, yet animated, sleepwear collection
                            reminiscent of the <br> window pane and steeped in color surprise.</p>
                    </div>
                    <a href="#" class="bg-white btn-collection px-[24px] py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
                <div
                    class="collection-c-2 transition-all ease-in-out duration-300 h-[260px] min-[425px]:h-[360px] lg:h-[600px] rounded-2xl flex flex-col gap-[24px] justify-center items-center lg:w-full">
                    <div class="text-center text-white flex flex-col gap-2">
                        <h1 class="font-semibold text-[28px] lg:text-[32px] lg:leading-10">Tuft collection</h1>
                        <p class="hidden lg:block text-[20px] leading-6">An iconic sleepwear collection,<br>comprised of
                            wishflowers and pillow<br>soft colors.</p>
                    </div>
                    <a href="#" class="bg-white btn-collection px-[24px] py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-[24px]">
                <div
                    class="collection-c-3 transition-all ease-in-out duration-300 h-[260px] min-[425px]:h-[360px] lg:h-[600px] rounded-2xl flex flex-col gap-[24px] justify-center items-center lg:w-full">
                    <div class="text-center text-white flex flex-col gap-2">
                        <h1 class="font-semibold text-[28px] lg:text-[32px] lg:leading-10">Blossom collection</h1>
                        <p class="hidden lg:block text-[20px] leading-6">A feminine flow of garden fancies,<br>sweetly
                            dotting our wearables in ribbed<br> and flat cotton.</p>
                    </div>
                    <a href="#" class="bg-white btn-collection px-[24px] py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
                <div
                    class="collection-c-4 transition-all ease-in-out duration-300 h-[260px] min-[425px]:h-[360px] lg:h-[600px] rounded-2xl flex flex-col gap-[24px] justify-center items-center lg:min-w-[650px]">
                    <div class="text-center text-white flex flex-col gap-2">
                        <h1 class="font-semibold text-[28px] lg:text-[32px] lg:leading-10">Wildflower<br
                                class="md:hidden">
                            collection</h1>
                        <p class="hidden lg:block text-[20px] leading-6">A soft whisper of color and texture, our
                            wildflower
                            sprigs<br>fascinate every phase of infanthood for unisex wearables.</p>
                    </div>
                    <a href="#" class="bg-white btn-collection px-[24px] py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-[24px]">
                <div
                    class="collection-c-5 transition-all ease-in-out duration-300 h-[260px] min-[425px]:h-[360px] lg:h-[600px] rounded-2xl flex flex-col gap-[24px] justify-center items-center lg:min-w-[650px]">
                    <div class="text-center text-white flex flex-col gap-2">
                        <h1 class="font-semibold text-[28px] lg:text-[32px] lg:leading-10">Foilage collection</h1>
                        <p class="hidden lg:block text-[20px] leading-6">Our berry and brush toned play sets introduce
                            deeper hues with<br>the very same iconic softness designed for little ones.</p>
                    </div>
                    <a href="#" class="bg-white btn-collection px-[24px] py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
                <div
                    class="collection-c-6 transition-all ease-in-out duration-300 h-[260px] min-[425px]:h-[360px] lg:h-[600px] rounded-2xl flex flex-col gap-[24px] justify-center items-center lg:w-full">
                    <div class="text-center text-white flex flex-col gap-2">
                        <h1 class="font-semibold text-[28px] lg:text-[32px] lg:leading-10">Fall collection</h1>
                        <p class="hidden lg:block text-[20px] leading-6">An iconic sleepwear collection,<br>comprised of
                            wishflowers and pillow<br>soft colors.</p>
                    </div>
                    <a href="#" class="bg-white btn-collection px-[24px] py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>