{% comment %} mobile-view {% endcomment %}
<footer class="bg-[#445442] text-[#F6F0E4] flex flex-col gap-16 py-16 px-6 lg:hidden">
    <div>{% render 'logo-milk-footer' %}</div>
    <div class="flex flex-col gap-8">
        <div class="flex flex-row gap-10">
            <div class="flex flex-col gap-4 w-[106px]">
                <h1 class="text-xl font-medium font-causten leading-6">SHOP</h1>
                {% for link in linklists['footer-shop'].links %}
                    <a
                        href='{{ link.url }}'
                        class='text-lg font-semibold leading-6'>
                        {{ link.title }}
                    </a>
                {% endfor %}
            </div>
            <div class="flex flex-col gap-4">
                <h1 class="text-xl font-medium font-causten leading-6">USERS</h1>
                {% for link in linklists['footer-users'].links %}
					<a
						href='{{ link.url }}'
						class='text-lg font-semibold leading-6'>
						{{ link.title }}
					</a>
				{% endfor %}
            </div>
        </div>
        <div class="flex flex-row gap-10">
            <div class="flex flex-col gap-4 w-[106px]">
                <h1 class="text-xl font-medium font-causten leading-6">COMPANY</h1>
                {% for link in linklists['footer-company'].links %}
					<a
						href='{{ link.url }}'
						class='text-lg font-semibold leading-6'>
						{{ link.title }}
					</a>
				{% endfor %}

				{% assign terms = linklists.footer.links.first %}
				<a
					href='{{ terms.url }}'
					class='text-lg font-semibold leading-6'>
					{{ terms.title }}
				</a>
            </div>
            <div class="flex flex-col gap-4 justify-end">
                {% for link in linklists.footer.links %}
					{% if link.title != 'Terms' %}
						<a
							href='{{ link.url }}'
							class='text-lg font-semibold leading-6'>
							{{ link.title }}
						</a>
					{% endif %}
				{% endfor %}

				<a
					href=''
					class='text-3xl font-semibold leading-6 -my-[3px] -ml-[3px]'>
					<i class='bx bxl-instagram'></i>
				</a>
            </div>
        </div>
        <div class="bg-[#F6F0E4] h-[1px] w-full"></div>
        <div class="font-semibold leading-5">
            © 2024 Milk DENMARK.<br>
            All rights reserved.
        </div>
    </div>
</footer>

{% comment %} desktop-view {% endcomment %}
<footer class="bg-[#445442] text-[#F6F0E4]">
    <div class="hidden flex-row lg:flex justify-between pt-[80px] pl-[104px] pb-[104px] pr-[104px] max-w-[1280px] mx-auto">
        <div class="flex flex-col gap-8">
            <div>{% render 'logo-milk-footer' %}</div>
            <div>
                <div class="text-sm leading-5">
                    © 2024 Milk DENMARK. All rights reserved.
                </div>
                <div class="flex flex-row gap-4 text-sm leading-5">
                    {% for link in linklists.footer.links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex flex-row text-[16px] gap-20">
            <div class="flex flex-col gap-4">
                <h1 class="font-causten leading-6">SHOP</h1>
                <div class="flex flex-col gap-2">
                    {% for link in linklists['footer-shop'].links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <h1 class="font-causten leading-6">USERS</h1>
                <div class="flex flex-col gap-2">
                    {% for link in linklists['footer-users'].links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <h1 class="font-causten leading-6">COMPANY</h1>
                <div class="flex flex-col gap-2">
                    {% for link in linklists['footer-company'].links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                    <a
                        href=''
                        class='text-3xl font-semibold leading-6 -my-[3px] -ml-[3px]'>
                        <i class='bx bxl-instagram'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>