<section class="h-auto w-full flex justify-center items-center bg-red-400">
    <div class="flex justify-center w-full p-20 py-20 md:py-36 md:px-32 lg:py-56 lg:px-[14rem]">
        
        
        {% for product in collections['best-seller'].products %}
            <div>
                <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                {{ product.price | money }}
                {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                <a href="{{ product.url | within: collection }}">
                  <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                </a>
                <div>
                    {% for variant in product.variants %}
                        <p>Variant: {{ variant.title }} - {{ variant.price | money }}</p>
                        {% unless variant.available %}<strong>Sold Out</strong>{% endunless %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        
    </div>
</section>